<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Carbon Calculator</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    @*css datetimepicker*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @*css Datatbale*@
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Carbon Calculator</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Periode" asp-action="Index">Periode</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Transaksi" asp-action="Index">Transaksi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Transaksi" asp-action="ListCar">Kendaraan</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="text-right">
                <div class="dropdown disable-select">
                    <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Halo User_login
                        <i class="fa fa-user-o"></i>
                    </a>
                    <div class="dropdown-menu" style="padding:15px;" aria-labelledby="dropdownMenuButton">
                        <div class="user-info">
                            <img src="/other/assets/img/user-img-test.png" />
                            <h3 class="text-center">user_name<br /><p class="text-center">Pertamina Hulu Rokan</p></h3>
                        </div>
                        <hr />
                        <strong class="dropdown-header">Menu</strong>
                        @*<a class="dropdown-item" href="#"><i class="fa fa-circle-info"></i> Referensi</a>*@
                        <label class="menu-item" style="margin:0px;"><i class="fa fa-circle-info"></i> Referensi</label>
                        <div style="margin-left:20px;">
                            <a class="dropdown-item" href="#">Benchmark</a>
                            <a class="dropdown-item" href="#">Donasi Pohon</a>
                        </div>
                        <strong class="dropdown-header">Pengaturan</strong>
                        <a class="dropdown-item" href="#"><i class="fa fa-user-gear"></i> Informasi Akun</a>
                        <label class="menu-item" href="#"><i class="fa fa-circle-question"></i> Bantuan</label>
                        <div style="margin-left:20px;">
                            <a class="dropdown-item" href="#">Petunjuk Penggunaan</a>
                        </div>
                        <hr />
                        <a class="dropdown-item" href="#"><i class="fa fa-right-from-bracket"></i> Keluar</a>
                    </div>
                </div>            
            </div>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted footer-colour">
        <div class="container text-white">
            @*&copy; 2022 - FrontEnd - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
            <div class="row">
                <div class="col-md-7">
                    <div>
                        <h4>PT. Pertamina Hulu Energi</h4>
                    </div>
                    <div class="footer-paragraph">
                        <div>
                            <p>PHE Tower</p>
                            <p>Jl TB. Simatupang Kav 99</p>
                            <p>Jakarta Selatan 12520</p>
                            <p>Indonesia</p>
                        </div>                        
                    </div>
                    <div class="social-icon-list">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 menu-list WhiteFont">
                    <h5>Menu</h5>
                    <div>
                        <ul>
                            <li><a href="#">Profil Perusahaan</a></li>
                            <li><a href="#">Bisnis Kami</a></li>
                            <li><a href="#">Relasi Investor</a></li>
                            <li><a href="#">Teknologi dan Inovasi</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 menu-list">
                    <div class="menu-list-2 WhiteFont">
                        <ul>
                            <li><a href="#">Media dan Informasi</a></li>
                            <li><a href="#">Keberlanjutan</a></li>
                            <li><a href="#">Procurement Activity</a></li>
                            <li><a href="#">Customer Survey</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-1">
                    <p>...</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    @*js datepicker*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>-->
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>*@
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>-->
    @*js datatable*@
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
